<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.pjq.pushup"
          android:versionCode="5"
          android:versionName="2.0.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16"/>
<!--
    <permission
        android:name="me.pjq.pushup.permission.MMOAUTH_CALLBACK"
        android:protectedLevel="normal" />
    <permission
        android:name="me.pjq.pushup.permission.MM_MESSAGE"
        android:protectedLevel="normal" />
-->

    <uses-permission android:name="me.pjq.pushup.permission.MMOAUTH_CALLBACK" />
    <uses-permission android:name="me.pjq.pushup.permission.MM_MESSAGE" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="me.pjq.pushup.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        >
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="me.pjq.pushup.activity.CommonWebviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="me.pjq.pushup.navigation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.pjq.pushup.navigation.MainActivity"/>
        </activity>
        <activity
            android:name="me.pjq.pushup.activity.UserGuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            >
        </activity>
        <activity
            android:name="me.pjq.pushup.activity.SendToWXActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="me.pjq.pushup.navigation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.pjq.pushup.navigation.MainActivity"/>
        </activity>
        <activity
            android:name="me.pjq.pushup.navigation.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.tencent.mm.sdk.plugin.MMPluginOAuth$Receiver"
            android:permission="com.tencent.mm.oauth.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.sdk.plugin.Intent.ACTION_RESPONSE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.tencent.mm.sdk.channel.MMessage$Receiver"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.sdk.channel.Intent.ACTION_MESSAGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
